.navigation
  .results
    %span.total_results
      = view.total
    = I18n.t(:'flexirails.results')
    ,
    %div
      = I18n.t(:'flexirails.navigation.per_page')

  .select
    %select{ id: "per_page", name: "per_page", :onchange => "Turbolinks.visit($(this).find('option:selected').attr('data-url')); return false;"}
      %option{ value: "5", selected: view.per_page == 5, :"data-url" => view.url(adjust_path("pagination.per_page", 5)) } 5
      %option{ value: "25", selected: view.per_page == 25, :"data-url" => view.url(adjust_path("pagination.per_page", 25)) }
        25
      %option{ value: "50", selected: view.per_page == 50, :"data-url" => view.url(adjust_path("pagination.per_page", 50)) }
        50
      %option{ value: "100", selected: view.per_page == 100, :"data-url" => view.url(adjust_path("pagination.per_page", 100)) }
        100
      %option{ value: "250", selected: view.per_page == 250, :"data-url" => view.url(adjust_path("pagination.per_page", 250)) }
        250

  .pagination
    = link_to view.first_path do
      %span.first
        != pagination_first_icon
    = link_to view.prev_path do
      %span.prev
        != pagination_prev_icon

    .page
      %span
        = I18n.t(:'flexirails.navigation.page')
      %input.js-fr-from-page{ name: "current_page_box", type: "text", value: view.current_page }
      %span
        = I18n.t(:'flexirails.navigation.of')
      %span.to
        = view.total_page_count

    = link_to view.next_path do
      %span.next
        != pagination_next_icon
    = link_to view.last_path do
      %span.last
        != pagination_last_icon